{% extends('index.twig') %}

{% block body %}
<div class="starter-template">
    <h1>Rotating Hat</h1>
    <p class="lead">Distribute a recurring task between people</p>
</div>
<div class="row">
    <div class="col-md-12">
        <form role="form" action="/create-calendar" method="post">
            {% if errors is defined %}
                <ul style="color:red">
                    {% for e in errors %}<li>{{ e.propertyPath }}: {{ e.message }}</li>{% endfor %}
                </ul>
            {% endif %}
            <div class="form-group">
                <label class="control-label" for="name">Name of the task</label>

                <input class="form-control" id="name" name="name" placeholder="Employee of the day">
            </div>

            <div class="form-group">
                <label class="control-label" for="people">Names of the people</label>

                <textarea class="form-control" name="people" id="people"></textarea>
                <p class="help-block">One name per line, at least 2 names</p>
            </div>

            <div class="form-group">
                <label class="control-label" for="duration">Duration of the task</label>

                <select class="form-control" name="duration" id="duration">
                    <option value="1">1 Day</option>
                    <option value="2">1 Week</option>
                    <option value="3">1 Month</option>
                    <option value="4">1 Year</option>
                    <!-- TODO custom selection -->
                </select>
            </div>

            <div class="form-group">
                <label class="control-label" for="startOn">Start on</label>

                <input class="form-control" id="startOn" name="startOn" value="{{ "now"|date("Y-m-d")  }}" />
                <select class="form-control" name="startOnTimezone" id="startOnTimezone">
                    <option value="Europe/Berlin">Europe/Berlin</option>
                    <option value="UTC">UTC</option>

                    <!-- TODO proper timezone selection -->
                </select>
            </div>

            <button type="submit" class="btn">Get Calendar file</button>
        </form>
    </div>
</div>
{% endblock %}