{% extends('index.twig') %}

{% block body %}
<div class="starter-template">
    <h1>Rotating Hat</h1>
    <p class="lead">Distribute a recurring task between people</p>
</div>
<div class="row">
    <div class="col-lg-6">
        <form role="form" action="/create-calendar" method="post">
            {% if errors is defined %}
                <ul style="color:red">
                    {% for e in errors %}<li>{{ e.propertyPath }}: {{ e.message }}</li>{% endfor %}
                </ul>
            {% endif %}
            <div class="form-group form-row">
                <label class="control-label col-sm-4" for="name">Name of the task</label>

                <div class="col-sm-8"><input class="form-control" id="name" name="name" placeholder="Hero of the day"></div>
            </div>

            <div class="form-group form-row">
                <label class="control-label col-sm-4" for="people">Names of the people</label>


                <div class="col-sm-8">
                    <textarea class="form-control" name="people" id="people" rows="5"></textarea>
                    <small class="form-text text-muted">One name per line, at least 2 names</small>
                </div>
            </div>

            <div class="form-group form-row">
                <label class="control-label col-sm-4" for="duration">Duration of the task</label>

                <div class="col-sm-8">
                    <select class="form-control" name="duration" id="duration">
                        <option value="1">1 Day</option>
                        <option value="2">1 Week</option>
                        <option value="3">1 Month</option>
                        <option value="4">1 Year</option>
                        <!-- TODO custom selection -->
                    </select>
                </div>
            </div>

            <div class="form-group form-row">
                <label class="control-label col-sm-4" for="startOn">Start on</label>


                <div class="col-sm-4">
                    <input class="form-control" id="startOn" name="startOn"
                           value="{{ "now"|date("Y-m-d") }}"/></div><div class="col-sm-4">
                    <select class="form-control" name="startOnTimezone" id="startOnTimezone">
                        <option value="Europe/Berlin">Europe/Berlin</option>
                        <option value="UTC">UTC</option>

                        <!-- TODO proper timezone selection -->
                    </select>
                </div>
            </div>

            <div class="form-group form-row">
                <label class="control-label col-sm-4" for="recurrence">Repeat</label>

                <div class="col-sm-8">
                    <select class="form-control" name="recurrence" id="recurrence">
                        <option value="1">Once</option>
                        <option value="3">Forever</option>
                        <option value="2">Until ...</option>
                    </select>
                    <input class="form-control" id="endDate" name="endDate" value="" style="display:none"/>
                </div>
            </div>

            <button type="submit" class="btn">Get Calendar file</button>
        </form>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                How to use
            </div>
            <div class="card-body">
                <p class="card-text">
                    Enter the names of the people that will carry out the task after each other, select the duration of the task, select the start time and press "Get Calendar file".
                    This will download a file that you can import into your calendar application, e.g. Google Calendar or Outlook.
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}